#block,#option{
	width:230px;
	height:113px;
	margin:auto;
}
#block:before{
	content:'';
	display:block;
	width:230px;
	height:3px;
}
#block:after{
	content:'';
	display:block;
	width:15px;
	height:15px;
	transform:rotate(-45deg);
	margin:10px 18px;
	position:absolute;
}
#block label, #submit{
	position:absolute;
	width:33px;
	height:32px;
	background:#dedede;
	margin:16px;
	text-align:center;
	line-height:2.2;
	color:#857487;
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
}
#block label#pass{
	position:absolute;
	width:33px;
	height:32px;
	background:#dedede;
	margin:-4px 16px;
}

#submit{
	border:0;
	margin:-28px 162px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	background: #ae6cac;
	text-shadow: 0 -1px 0 #333;
	box-shadow: -1px 0 1px 0px #6c5b6d;
	font-size: 20px;
	line-height: 3;
	width: 50px;
	padding: 0;
}
#submit:hover{
	color:#fff;
}
#user, #pass{
	box-shadow:0.1px 0 2px #6c5B6d;
}
#block input[type=text],#block  input[type=password], #option p {
	font-family:'Open Sans';
	font-weight:300;
	-webkit-font-smoothing: antialiased;
	padding-left:40px;
}
#block input[type=text],#block  input[type=password]{
	width:156px;
	height:32px;
	margin:15px 15px;
	border: solid gray 1px;
	border-radius:2px;
	outline:0;
	display:block;
	font-size:18px;
}
#block input[type=password]{
	width:156px;
	height:32px;
	margin:-5px 15px;
}
#submit{
	color:#fff;
	font-size:8px;
	font-weight:bold;
	cursor:pointer;
}
#submit:hover {opacity:0.9;}
#option{
	width:240px;
	height:80px;
	overflow:hidden;
	margin:auto;
}
#option p{
	color:#6c5B6d;
	font-size:24px;
	text-transform:uppercase;
	padding:0px 18px;
	margin-top:15px;
	display:block;
	float:left;
	-webkit-font-smoothing: antialiased;
/*text-shadow:0 -1px 0 #000;*/	
}
#option a{
	-webkit-font-smoothing: antialiased;
	color:#6c5B6d;
	/*text-shadow:0 -1px 0 #000;*/
	font-size:12px;
	display:block;
	float:right;
	margin:26px 15px;
}

#block:active > #block:before{
	background-position:100px 100px;
}

/* placeholder */
::-webkit-input-placeholder {
	-webkit-font-smoothing: antialiased;
	color:#999;
	font-size:16px;
}
:-moz-input-placeholder {  
	color:#999;
	font-size:16px;
}