/*------Menu--------*/
a {
  text-decoration: none;
}

.top-menu {
  position: fixed;
  background: #764E80;
  height: 80px;
  width: 100%;
  padding-left: 10%;
  z-index: 4;
  list-style: none;
  display: table;
}

.menu-main {
  list-style: none;
  display: table;
  z-index: 4;
}

.menu-main:after {
  clear: both;
}

.left-item {
  line-height: 100px;
  width: 70px;
  text-align: center;
}

.right-item {
  height: 80px;
  width: 140px;
}

.navbar-logo {
  padding: 0 5% 0 5%;
}

.menu-main a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.menu-main a:hover {
  background: rgba(0, 0, 0, .3);
}

.menu-main li {
	display: table-cell;
	justify-content: center;
 	vertical-align: middle; 
/* 	width: 140px; */
/* 	text-align: center; */
}

/*------Body--------*/

body {
  margin: 0;
  background-image: url(images/regal2.png);
  color: #442950;
  font-family: Times;
  min-width: 600px;
  height: 100%;
}

.main {
  background-color: rgba(255, 255, 255, 0.8);
  width: 80%;
  padding-top: 100px;
  margin-left: 10%;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 100vh;
  height: auto;
  padding-bottom: 200px;
}

.right_block {
  background-color: rgba(182, 204, 177, 0.9);
  /*width: 25%;*/
  margin-right: 10%;
  width: 24%;
  position: relative;
  display: block;
  float: right;
  height: 100%;
}

.center {
  position: relative;
  display: block;
  width: 73%;
  float: left;
  padding-left: 20px;
}

/*---------Shop----------*/

.flower_shop a {
  text-decoration: none;
  color: #442950;
  font-weight: bold;
  font-size: 20pt;

}

.flower_shop {
  width: 150px;
  text-align: center;
  /*display: inline-block;*/
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}
.flower_shop img:hover {
  color: rgba(black, 0.4);
}

.filter h3 {
  font-weight: bold;
  font-size: 24pt;
  text-align: center;
/*  padding-top: 5px;*/
}

.filter_attr {
  font-weight: bold;
  font-size: 20pt;
  padding-left: 10px
}

.filter_list {
  padding-left: 15px;
}

button, .filter_button {
  position: relative;
  display: block;
  float: left;
  width: 40%;
  height: 30px;
  padding: 0;
  font-size: 10pt;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #B1608E;
  border: 1px solid #764E80;
  cursor: pointer;
}

.filter_buttons {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.bottom-box {
  margin: 0px auto 0px;
  padding: 10px 0;
}

.bottom-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* CSS для примера */

.footer ul {
  text-align: justify;
  margin-left: 100px;
  line-height: 0;
}

.footer ul:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}

.footer ul li {
  display: inline-block;
  text-align: left;
  /* Востанавливаем у потомков, кроме последнего*/
  line-height: normal;
  font-size: 18px;
  /* Без него в Opera будет отступ под элементами */
  vertical-align: middle;
  padding-top: 10px;
  /* эмуляция inline-block для IE6-7*/
  //display : inline;
  //zoom : 1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #95AF5C;
  color: white;
  float: left;
  
}

.center-shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*  background-color: rgba(255, 255, 255, 0.8);*/
  /*  width: 80%;*/
  /*  margin-left: 10%;*/
}

#left-col {
  width: 250px;
  min-height: 100%;
  background: #B6CCB1;
  float: left;
  min-height: 100vh;
}

#right-col {
  background: rgba(white, 0.8);
  min-height: 100vh;
  margin-left: 250px;
  
}
.price {
  position: absolute;
  right: 0;
  top: 122px;
  background-color: #d8d8d8;
  padding: 5px;
}

  #item {
    height: 150px;
    width:  150px;
    margin: 0 auto;
  }

  #busket-holder {
    display: none;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 150px;
    text-align: center;
    color: #fff;
  }

  #item:hover #busket-holder {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

*{
    padding: 0;
    margin: 0;
}

.top-menu ul li {
  float: left;
  display: inline-table;
  vertical-align: middle;
}

#img_popup {
  width: 500px;
  height: 500px;
  float: left;
}

.price {
  
}

.price-popup {
  position: absolute;
  top: 477px;
  background-color: #d8d8d8;
  padding: 10px;
  font-size: 25px;
}

/*_____POPUP WINDOW_____*/
 .overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
/*    z-index: 10;*/
    display: none;
/* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}
/* стили модального окна */
.popup {
    top: -20%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 700px;
    max-width: 1000px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
/* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
/* внешняя тень */
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 10%;
}
/* формируем кнопку закрытия */
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);    
}
/* параграфы */
.popup p {margin: 0; padding: 5px 0}
.busket-list {
  width: 100%; 
  display: table; 
  table-layout: fixed;
}

.busket-list:nth-child(odd){
  background-color: rgba(182, 204, 177, 0.3);
}

.busket-list:nth-child(even){
  background-color: rgba(182, 204, 177, 0.5);
}

.busket-button {
  margin-top: 20px;
  float: right;
}

  .amount {
    width: 90px;
/*    margin: 100px auto;*/
    margin: 0;
    padding: 0;
  }

  .amount span {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ededed;
    cursor: pointer;
    text-align: center;
  }

  .amount span:hover {
    background: #dfdfdf;
  }

  .amount input {
    width: 30px;
    text-align: center;
  }

  .delete-link {
    display: inline-block;
    padding: 5px;
    border: 1px solid #764E80;
    background-color: white;
    color: #764E80;
    text-decoration: none;
    width: 100px;
    text-align: center;
  }

  .delete-link:hover {
    background-color: #fff;
  }

  .need-to-confirm{
    width: 100px;
    padding: 5px;
    text-align: center;
  }
  
  .need-to-confirm .confirmation {
    display: none;
  }

  .confirmed .maintext {
    display: none;
  }
  
  .busket-item{
    display: table-cell;
    justify-content: center;
    border-left: 1px solid #95AF5C;
    padding: 5px;
    vertical-align: middle;
    table-layout: fixed;
  }
  .busket-item:first-child{
    border: none;
  }
.button-req {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 30px;
  padding: 0;
  font-size: 10pt;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #B1608E;
  border: 1px solid #764E80;
  cursor: pointer;
  margin-bottom: 20px;
}

.admin-style {
  width: 100%;
  float: left;
  margin-bottom: 100px;
  height: 100%;
}

.admin-style h2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.admin-style input{
  margin-top: 10px;
  margin-right: 10px;
}

.menu-popup {
  width: 49%;
  float: left;
  
}

.menu-popup:last-child{
  border-left: 1px solid black;
  padding-left: 10px;
}

.menu-popup h2{
  text-align: center;
}

input[type=text], input[type=password], input[type=email], input[type=email], input[type=tel], input[type=number] {
  color:#999;
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 15px;
  
}
input[type=text]:focus, input[type=password]:focus {
    color:#000;
}



.item {
  display: table-cell;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.item:hover{
  background: rgba(0, 0, 0, .3);
}

.menu-list {
  
  justify-content: center;
  width: 80%;
  height: 80px;
  display: table; 
  padding-left: 10%;
  padding-right: 10%;
}
.item a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.index-cell {
  display: table-cell;
}

.index-right {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 110px;
  padding-top: 120px;
  background: #B6CCB1;
  text-align: center;
}

.index-right p a{
  text-decoration: none;
  color: #442950;
  font-size: 25px;
  font-weight: bold;
}
.index-right div{
  margin-bottom: 10px;
}

.news p {
  font-size: 18px;
  font-weight: bold;
}

.news img {
  width: 150px; float: left; margin-right: 10px;
}

.news div{
  float: left;
  width: 70%;
}

.news hr {
  width:200px; color: black; margin-top: 5px; margin-bottom: 5px;
}



.news {
  width: 80%;
  padding-right: 10px;
  height: 160px;
}

.button_a {
  position: relative;
  display: block;
  float: left;
  width: 40%;
  height: 30px;
  padding: 0;
  font-size: 10pt;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #B1608E;
  border: 1px solid #764E80;
  cursor: pointer;
}
